main{
    background-image: url("../assets/active_edition_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container_ranking{
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 50vh;
}

table{
    width: 70%;
    border-collapse: separate;
    border-spacing: 5px 15px;
}

th, td{
    text-align: center;
}
  
tr{
    background-color: white;
    height: 45px;
}

tr:nth-child(1){
    background-color: #dee2ff;
  }
