#searchSongForm{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0px;
    font-size: 150%;
}

#searchSongForm input{
    width: 25%;
    height: 30px;
    font-size: 110%;
}

#searchSongsResults{
    display: flex;
    flex-direction: column;
    min-height: 45vh;
    font-size: 130%;
    padding: 30px 0px;
    gap: 6px;
}